name: VMChroma Snapshot Build

on:
  push:
    branches:
      - master
    paths:
      - 'src/**'
  workflow_dispatch:

jobs:
  build:
    name: Build Project
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure 32-bit build
        run: cmake -S . -B build32 -G "Visual Studio 17 2022" -A Win32

      - name: Build 32-bit (Release)
        run: cmake --build build32 --config Release

      - name: Configure 64-bit build
        run: cmake -S . -B build64 -G "Visual Studio 17 2022" -A x64

      - name: Build 64-bit (Release)
        run: cmake --build build64 --config Release

      - name: Sign Artifacts
        shell: pwsh
        run: |
          $pfx_file_path = "signing_cert.pfx"
          $pfx_cert_b64 = "${{ secrets.CERTIFICATE_PFX_BASE64 }}"
          $pfx_password = "${{ secrets.CERTIFICATE_PFX_PASSWORD }}"
                    
          $cert = New-Object System.Security.Cryptography.X509Certificates.X509Certificate2([Convert]::FromBase64String($pfx_cert_b64), $pfx_password)
          
          Set-AuthenticodeSignature "out\vmchroma32.dll" -Certificate $cert
          Set-AuthenticodeSignature "out\vmchroma64.dll" -Certificate $cert
          Set-AuthenticodeSignature "out\addimport32.exe" -Certificate $cert
          Set-AuthenticodeSignature "out\addimport64.exe" -Certificate $cert

      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vmchroma_snapshot_${{ github.sha }}
          path: out/
